 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: url('https://via.placeholder.com/1920x1080') no-repeat center center fixed;
            background-image:url("https://images.unsplash.com/photo-1613206485381-b028e578e791?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            background-size: cover;
            animation: slideBackground 60s linear infinite;
        }

        @keyframes slideBackground {
            0% {
                background-position: 0% 50%;
            }
            100% {
                background-position: 100% 50%;
            }
        }

        .container {
            width: 400px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 100px auto;
        }

        header {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
            font-size: 24px;
        }

        hr {
            border: 2px solid #004899;
        }

        input[type="text"],
        input[type="password"],
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: border-color 0.3s ease;
        }

        input[type="text"]:focus,
        input[type="password"]:focus {
            border-color: #007bff;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        .toggle-login {
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
        }

        .toggle-login a {
            color: #333;
            text-decoration: underline;
            cursor: pointer;
        }
