<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Principal</title>
	<meta charset="utf-8">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" >
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

	<!--FAVICON-->
	<link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/6854/6854590.png" type="image/x-icon">

	<!--FONT-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="/css/menu.css">
	
	<style>
	main{
		margin-top:50px;
	}
	
	</style>
	
</head>

<body>
	<header>
		
		 <!-- Barra de navegación superior de color azul con logo centrado -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-superior">
        <div class="container">
        <a>MotorsInc</a>
            
            <!-- Logo centrado -->
            <img src="/img/logo.png" alt="Logo" class="logo">
        </div>
    </nav>

    <!-- Barra de navegación principal -->
    <nav id="nav_princ" class="navbar navbar-expand-lg navbar-dark navbar-principal">
        <div class="container">
            <!-- Contenido de la barra de navegación principal -->
            <a th:href="@{/}">
                <div style="display: inline-block;" class="ml-4">
                    <img src="/img/Logo-icfes.svg" style="height: 60px; width: 180px; vertical-align: middle;">
                </div>
            </a>
            <div class="ml-auto mr-4" style="display: inline-block;">
                <button id="btn-login" class="button_cerrar">
                    <a th:href="@{/login}" style="text-decoration: none;">
                        <span style="font-family: 'Roboto Slab', serif; font-weight: bolder; font-size: 120%; padding-left: 5px; padding-right: 5px;">Cerrar sesión</span>
                    </a>
                </button>
            </div>
        </div>
    </nav>
	
	<!-- Línea de separación -->
    <hr style="border-top: 2px solid #004899; margin: 0;">
	
	</header>
	<main>
		
<div class="fondo-con-movimiento">
    <button class="button_list">
        <a th:href="@{/vehiculo/}" style="color: rgb(0, 255, 255); text-decoration: none;">
            <span style="font-size: 120%; padding-left: 5px; padding-right: 5px;">Vehiculos</span>
        </a>
    </button>
    <button class="button_list">
        <a th:href="@{//}" style="color: rgb(0, 128, 192); text-decoration: none;">
            <span style="font-size: 120%; padding-left: 5px; padding-right: 5px;">Mecanicos</span>
        </a>
    </button>
</div>
	</main>	
	
	
</body>

<footer class="sticky-footer text-white" style="background: linear-gradient(to right, #006AB2, #004F87, #004F87, #006AB2, #004F87, #004F87, #006AB2)">
    
    <div class="container text-center mt-4">
        <img src="file:///C:/Users/SEBAS/Documents/Proyecto_Spring/proyecto_Vehiculos/src/main/resources/img/mecanico_amarillo.jpg" alt="" style="width: 150px;">
    </div>
    <div class="container text-center mt-4">
        <span style="margin-left: 25px; margin-right: 25px; font-weight: bold;">Privacidad</span>
        <span style="margin-left: 25px; margin-right: 25px; font-weight: bold;">Términos y condiciones</span>
        <span style="margin-left: 25px; margin-right: 25px; font-weight: bold;">Política de cookies</span>
        <span style="margin-left: 25px; margin-right: 25px; font-weight: bold;">Ajustes de cookies</span>
    </div>
    <div class="container text-center mt-4">
        <p><strong>Copyright © 2023</strong> - Todos los derechos reservados</p>
        <p><strong>Creado por:</strong>Jhoan R.</p>
    </div>
</footer>

</html>