<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="/css/estilos.css">
   
</head>

<body>

    <header>
        <nav>
            <div class="logo">
                <a href="#">MotorsInc</a>
            </div>
            <ul class="nav-links">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Acerca de</a></li>
            </ul>
            <div class="login-button">
                <a href="/login" class="btn">Iniciar Sesión</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Conoce paso a paso el mantenimiento de tu vehiculo</h1>
            <p>Explora nuestros servicios y encuentra lo que necesitas.</p>
        </section>
        <!-- Más contenido aquí -->
    </main>
<div class="noticia" style="background-color: white; padding: 20px; margin-bottom: 20px; border-radius: 10px; display: flex; transition: all 0.3s ease; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
				<img src="https://images.unsplash.com/photo-1504222490345-c075b6008014?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Noticia 2" class="imagen" style="width: 200px; margin-right: 20px; border-radius: 5px;">
				<div>
					<h3 style="font-family: 'Raleway', sans-serif; font-weight: 700; color: #333; margin-bottom: 10px;">Gestion de Mantenimiento de Vehiculos</h3>
					<p style="font-family: 'Montserrat', sans-serif; color: #666;">La gestión de mantenimiento de un vehículo es un proceso fundamental para garantizar su funcionamiento óptimo, prolongar su vida útil y mantener la seguridad de quienes lo utilizan. Este proceso implica una serie de actividades planificadas y ejecutadas de manera regular, que incluyen inspecciones, ajustes, reparaciones y reemplazos de componentes según sea necesario.</p>
				</div>
			</div>
			<div class="noticia" style="background-color: white; padding: 20px; margin-bottom: 20px; border-radius: 10px; display: flex; transition: all 0.3s ease; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
				<img src="/img/carro_rojo.jpg" alt="Noticia 2" class="imagen" style="width: 200px; margin-right: 20px; border-radius: 5px;">
				<div>
					<h3 style="font-family: 'Raleway', sans-serif; font-weight: 700; color: #333; margin-bottom: 10px;">Gestion de Mantenimiento de Vehiculos</h3>
					<p style="font-family: 'Montserrat', sans-serif; color: #666;">La gestión de mantenimiento de un vehículo es un proceso fundamental para garantizar su funcionamiento óptimo, prolongar su vida útil y mantener la seguridad de quienes lo utilizan. Este proceso implica una serie de actividades planificadas y ejecutadas de manera regular, que incluyen inspecciones, ajustes, reparaciones y reemplazos de componentes según sea necesario.</p>
				</div>
			</div>
			<div class="noticia" style="background-color: white; padding: 20px; margin-bottom: 20px; border-radius: 10px; display: flex; transition: all 0.3s ease; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
				<img src="https://images.unsplash.com/photo-1504222490345-c075b6008014?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Noticia 2" class="imagen" style="width: 200px; margin-right: 20px; border-radius: 5px;">
				<div>
					<h3 style="font-family: 'Raleway', sans-serif; font-weight: 700; color: #333; margin-bottom: 10px;">Gestion de Mantenimiento de Vehiculos</h3>
					<p style="font-family: 'Montserrat', sans-serif; color: #666;">La gestión de mantenimiento de un vehículo es un proceso fundamental para garantizar su funcionamiento óptimo, prolongar su vida útil y mantener la seguridad de quienes lo utilizan. Este proceso implica una serie de actividades planificadas y ejecutadas de manera regular, que incluyen inspecciones, ajustes, reparaciones y reemplazos de componentes según sea necesario.</p>
				</div>
			</div>
       
</body>
<footer class="sticky-footer" style="background: linear-gradient(to right,#006AB2, #004F87,#004F87,#006AB2,#004F87, #004F87,#006AB2); border-top: 5px solid black; color: white;">

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="/img/logo.jpg" alt="" style="width: 150px;">
            </div>
            <div class="col-md-4 text-center">
                <div class="footer-links">
                    <span style="font-weight: bold;">Privacidad</span>
                    <span style="font-weight: bold;">Términos y condiciones</span>
                    <span style="font-weight: bold;">Política de cookies</span>
                    <span style="font-weight: bold;">Ajustes de cookies</span>
                </div>
            </div>
       
        </div>
       
    </div>
    </footer>
</html>
