<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Mantenimientos</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="text-center">Mantenimientos del Vehículo: <span th:text="${vehiculoId}"></span></h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Vehículo ID</th>
                    <th>Mecánico ID</th>
                    <th>Fecha</th>
                    <th>Comentarios</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mantenimiento : ${mantenimientos}">
                    <td th:text="${mantenimiento.id}"></td>
                    <td th:text="${mantenimiento.vehiculoId}"></td>
                    <td th:text="${mantenimiento.mecanicoId}"></td>
                    <td th:text="${mantenimiento.fecha}"></td>
                    <td th:text="${mantenimiento.comentarios}"></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/propietario/login}" class="btn btn-primary">Volver</a>
    </div>
</body>
</html>
